<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Coding Task</title>
</head>

<body>
    <main class="main">
        <section class="buttons-section">
            <button class="button" id="male">Male</button>
            <button class="button" id="female">Female</button>
        </section>
        <section class="users" id='users'>
        </section>
    </main>
    <script src="/assets/js/app.js"></script>
</body>

</html>